<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-color: <%=user.color%>;
        }
        .btn {
    background-color: DodgerBlue;
    color: white;
    font-size: 16px;
    cursor: pointer;
    }
    .btna {
    background-color: DodgerBlue;
    color: white;
    font-size: 16px;
height: auto;
 }
    .container {
  position: relative;
}

.topright {
  position: absolute;
  top: 8px;
  right: 16px;
}
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg" href="/images/icons/cpu.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"/>
    <link rel="stylesheet" type="css" href="/public/style.css">
    <title>Dashboard</title>
</head>
<body>
    <header>
            <a href="/users/logout">
                <img src="../images/icons/log-out.svg" alt="Déconnexion"/>
            </a>
        <div class="topright">
            <a href="/"><button class="btn"><i class="fa fa-home"></i> Home</button></a>
    </div>
</header>
<br>
<div id="user-info">
    <h1> Hello <%= user.prenom.charAt(0).toUpperCase() + user.prenom.slice(1) %> !</h1>
</div>
        <br>
        <h2 style="font-size: 35px;">New Recipe:</h2>
        <form action="/save" method="post">
        <textarea spellcheck="false" name="text" rows="50" cols="50" style="height: 300px;width: 300px;">Ingredients:
            - 1st ingredient: ...
            - ...
            - ...

Steps:
            - 1st step: ...
            - ...
            - ...
        </textarea>
        <br>
        <button type="submit" class="btn"><i class="fa fa-save"></i> Save</button>
  </form>
    <br>
    <h2>Recent recipies</h2><!-- Dans cette boucle, on affiche la liste de tout les circuits enregistrés du user ainsi que l'option de delete à côté -->
    <% if(user.projets!=null) {%>
    <% let index=0;%>
      <% for (const projet of user.projets) { if (projet!=null) {%>
        <button class="btna"><pre><h6 style="white-space: pre;"><%= projet %></h6></pre></button>
      <% }index++;} %>
    <% } %>
    <br>
    <h6 style="white-space:pre-line;">Little tip:
        Bla bla bla
    </h6>
    
</body>
</html>