<!DOCTYPE html>
<html>
<head>
  <style>
    body {
        background-color: <%=user.color%>;
    }
  </style>
  <link rel="stylesheet" href="/editeurStyle.css">
  <link rel="icon" type="image/svg" href="/images/icons/cpu.svg">
</head>
<body>
  <% if(typeof projet!= 'undefined'){ %>
    <script id="circuit" type="application/json"><%- JSON.stringify(projet) %></script>
  <%}%>
  <script src="lib/p5.min.js"></script>
  <script src="nerdamer/all.min.js"></script>
  <script src="constantes.js"></script>
  <script src="utilitaire.js"></script>
  <script src="Historique.js"></script>
  <script src="Circuit.js"></script>
  <script src="fil.js"></script>
  <script src="Composant.js"></script>
  <script src="dom.js"></script>
  <script src="event_handler.js"></script>
  <script src="correctif_automatique.js"></script>
  <script src="projet.js"></script>
  <script src="sketch.js"></script>
  <div class="nav-bar">
    <%if(typeof user != 'undefined'){%>
      <a href="/users/dashboard">
        <button id="acceuil" class="button-jump">
          <img class="icon" src = "images/icons/home.svg" alt="Acceuil"/>
          <span class="tooltip bottom" id="acceuil-tip">Acceuil</span>
        </button>
      </a>
    <%}else {%>
    <a href="acceuil">
      <button id="acceuil" class="button-jump">
        <img class="icon" src = "images/icons/home.svg" alt="Acceuil"/>
        <span class="tooltip bottom" id="acceuil-tip">Acceuil</span>
      </button>
    </a>
    <% } %>
    <button id="download" class="button-jump">
      <img class="icon" src = "images/icons/download.svg" alt="Télécharger"/>
      <span class="tooltip bottom" id="download-tip">Télécharger</span>
    </button>
    <button id="upload" class="button-jump">
      <img class="icon" src = "images/icons/upload.svg" alt="Importer"/>
      <span class="tooltip bottom" id="upload-tip">Importer</span>
    </button>
    <button id="save" class="button-jump">
      <img class="icon" src = "images/icons/save.svg" alt="sauvegarder"/>
      <span class="tooltip bottom" id="save-tip">Sauvegarder</span>
    </button>
  </div>

  <div id="projet-name">
    <input id="projet-input" type="text" value="<%= typeof projet!='undefined' ? projet.name : 'Circuit inconnus' %>"></input>
  </div>
  <div class="side-user">
<% if(typeof user != 'undefined' && typeof user.name != 'undefined'){ %>
      <span class="username"><%= user.name %></span>
      <a href="/users/logout">
        <button id="logout">
          <img class="icon" src = "images/icons/log-out.svg" alt="Déconnexion"/>
          <span class="tooltip bottom" id="logout-tip">Déconnexion</span>
        </button>
      </a>

<% }else{ %>
    <a href="/users/login">
      <button id="login">
        <img class="icon" src="images/icons/user-circle.svg" alt="Connexion" />
        <span class="tooltip bottom" id="login-tip">Connexion</span>
      </button>
    </a>
<% } %>
  </div>
  <div class="historique">
    <button id="undo" class="historique-item">
      <img class="icon" src="images/icons/undo.svg" alt="undo" />
      <span class="tooltip top" id="undo-tip">Annuler</span>
    </button>
    <button id="redo" class="historique-item">
      <img class="icon" src="images/icons/redo.svg" alt="redo" />
      <span class="tooltip top" id="redo-tip">Refaire</span>
    </button>
    <button id="reset" class="historique-item">
      <img class="icon" src="images/icons/refresh.svg" alt="effacer tout" />
      <span class="tooltip top" id="reset-tip">Recommencer</span>
    </button>
  </div>
  <div class="grid-choice">
    <button id="line-grid">
      <img class="icon" src="images/icons/line-grid.svg" alt="Grid line choice" />
      <span class="tooltip top" id="line-grid-tip">Grid line</span>
    </button>
    <button id="point-grid">
      <img class="icon" src="images/icons/dot-grid.svg" alt="Grid point choice" />
      <span class="tooltip top" id="point-grid-tip">Grid point</span>
    </button>
    <button id="point-line-grid">
      <img class="icon" src="images/icons/point-line-grid.svg" alt="Grid point line choice" />
      <span class="tooltip top" id="pointLine-grid-tip">Grid point & line</span>
    </button>
  </div>
  <button id="animate">
    <img class="icon" id="animate_image" src = "images/icons/square.svg" alt="Animation"/>
    <span class="tooltip bottom" id="animation-tip">Arrêter l'animation</span>
  </button>

</body>
</html>
